body {
  margin: 0px;
  padding: 0px;
  font-family: 'Comfortaa', cursive;
  background-image: url("img/bgImg.png");
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: 0px;
  color: #29302c;
  position: relative; }

.navHelloPage {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #17b55a;
  color: #d0f0de;
  text-align: center; }
  .navHelloPage .title {
    float: left;
    display: block;
    padding-left: 15px; }

.containerHelloPage {
  width: 50%;
  height: 90vh;
  float: left; }
  .containerHelloPage .tileImage {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
    float: left; }
    .containerHelloPage .tileImage img {
      width: 350px;
      height: 400px;
      margin: 40px;
      box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.75); }
  .containerHelloPage .tileImageTwo {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
    float: right; }
    .containerHelloPage .tileImageTwo img {
      width: 500px;
      height: 300px;
      margin: 10px;
      margin-top: 30%;
      box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.75); }
    .containerHelloPage .tileImageTwo h1 {
      font-family: 'Dancing Script', cursive;
      text-align: center; }
  .containerHelloPage .tileInput {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%; }
    .containerHelloPage .tileInput input {
      border: 2px solid #17b55a;
      padding: 20px;
      margin: 5px;
      width: 100%;
      clear: both;
      font-family: 'Comfortaa', cursive; }
    .containerHelloPage .tileInput #submit {
      border: 0px;
      background-color: #17b55a;
      color: #d0f0de;
      padding: 10px;
      margin: 5px;
      font-family: 'Comfortaa', cursive; }
    .containerHelloPage .tileInput .error {
      color: red;
      padding: 10px 0px 10px 0px;
      margin: 0px 10px 0px 10px;
      width: 100%;
      clear: both;
      font-weight: bold; }
    .containerHelloPage .tileInput .success {
      color: #17b55a;
      padding: 10px 0px 10px 0px;
      margin: 0px 10px 0px 10px;
      width: 100%;
      clear: both;
      font-weight: bold; }

.footerHelloPage {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #29302c;
  color: #718283; }
  .footerHelloPage .containerFooterHelloPage {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .footerHelloPage .containerFooterHelloPage a {
      color: #718283;
      text-decoration: none;
      margin-left: 10px;
      border-left: 1px solid #718283;
      text-align: justify; }
    .footerHelloPage .containerFooterHelloPage hr {
      border: 0px;
      height: 1px;
      background-color: #718283; }

.postContainer {
  margin: 0 auto;
  width: 80%; }
  .postContainer .post {
    width: 50%;
    height: 680px;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid #17b55a;
    background-color: #d0f0de; }
    .postContainer .post img {
      width: 100%;
      height: 500px; }
    .postContainer .post .postInfoLeft {
      width: 40%;
      padding: 10px;
      display: block;
      font-size: 20px;
      float: left; }
    .postContainer .post .postInfoRight {
      width: 40%;
      padding: 10px;
      display: block;
      font-size: 20px;
      float: right; }
  .postContainer a {
    color: #29302c;
    font-size: 26px;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 3px solid #17b55a;
    margin: 0 auto;
    padding: 10px;
    width: 10%; }

.userInfo {
  float: right;
  margin: 0px 40px 0px 40px;
  font-size: 15px;
  display: inline; }
  .userInfo a {
    color: white; }

.afterRegisterPage {
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #17b55a;
  color: #d0f0de;
  text-align: center; }
  .afterRegisterPage a {
    color: #d0f0de;
    font-weight: bold; }

.profileContainer {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: #17b55a;
  margin-top: 20px;
  padding: 10px; }
  .profileContainer .profileContainerNav {
    background-color: #0f7439;
    color: #d0f0de;
    width: 100%; }
    .profileContainer .profileContainerNav ul {
      list-style-type: none;
      display: flex; }
    .profileContainer .profileContainerNav li {
      margin-left: 20px;
      width: 15%;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: justify; }
    .profileContainer .profileContainerNav #facebook {
      background-color: #4267B2;
      font-size: 30px;
      width: 5%;
      text-align: center; }
    .profileContainer .profileContainerNav #google {
      background-color: #DB4437;
      font-size: 30px;
      width: 5%;
      text-align: center;
      margin-left: 0px; }
    .profileContainer .profileContainerNav #proffesion {
      font-size: 30px; }
  .profileContainer .profileContent {
    width: 95%;
    height: 60%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #0f7439;
    color: #d0f0de; }
    .profileContainer .profileContent .profileBox {
      width: 47%;
      padding-bottom: 20px;
      margin: 20px;
      border: 1px solid #17b55a;
      float: left; }
      .profileContainer .profileContent .profileBox .profileBoxTitle {
        text-align: center;
        font-size: 24px;
        padding: 5px;
        background-color: #17b55a; }
      .profileContainer .profileContent .profileBox .profileBoxText {
        text-align: center;
        font-size: 20px;
        padding: 5px; }
        .profileContainer .profileContent .profileBox .profileBoxText .profileBoxImgContainer {
          width: 100%;
          margin: 0 auto;
          height: 100%; }
          .profileContainer .profileContent .profileBox .profileBoxText .profileBoxImgContainer .profileBoxImg {
            width: 31.6%;
            height: 180px;
            background-color: black;
            margin: 5px;
            float: left; }
        .profileContainer .profileContent .profileBox .profileBoxText ul {
          float: left;
          list-style-type: circle; }

.firstLoginContainer {
  width: 60%;
  margin: 0 auto; }
  .firstLoginContainer .firstLoginHeader {
    text-align: center;
    line-height: 40px; }
    .firstLoginContainer .firstLoginHeader h1 {
      font-family: 'Dancing Script', cursive; }
  .firstLoginContainer .firstLoginInput {
    text-align: center; }
    .firstLoginContainer .firstLoginInput input {
      border: 2px solid #17b55a;
      padding: 20px;
      margin: 5px;
      width: 40%;
      font-family: 'Comfortaa', cursive;
      margin-top: 50px; }
    .firstLoginContainer .firstLoginInput .firstLoginInfo {
      font-size: 24px;
      text-align: center; }
    .firstLoginContainer .firstLoginInput i {
      font-size: 15px; }
    .firstLoginContainer .firstLoginInput .error {
      color: red;
      width: 100%;
      clear: both;
      font-weight: bold;
      font-size: 22px;
      margin-top: 5px; }
    .firstLoginContainer .firstLoginInput .radio {
      width: 1%; }

/*# sourceMappingURL=style.css.map */
