@import "variables.scss";
@mixin tileImg()
{
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
}
@mixin postInfo()
{
    width: 40%;
    padding: 10px;
    display: block;
    font-size: 20px;
}