@import "variables.scss";
@import "mixinsandothers.scss";
body{margin: 0px; padding: 0px; font-family: 'Comfortaa', cursive; background-image: url('img/bgImg.png'); background-attachment: fixed; background-position-x: 0px; background-position-y: 0px; color:$colorDarkGray;    position: relative;}
.navHelloPage
{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $navHelloPageBgColor;
    color: $navHelloPageFontColor;
    text-align: center;
    .title
    {
        float: left;
        display: block;
        padding-left: 15px;
    }
}
.containerHelloPage
{
    width: 50%;
    height: 90vh;
    float: left;
    .tileImage
    {
        @include tileImg();
        float: left;
        img
        {
            width: 350px;
            height: 400px;
            margin: 40px;
            box-shadow: 10px 10px 20px -2px rgba(0,0,0,0.75);
        }
    }
    .tileImageTwo
    {
        @include tileImg();
        float: right;
        img
        {
            width: 500px;
            height: 300px;
            margin: 10px;
            margin-top: 30%;
            box-shadow: 10px 10px 20px -2px rgba(0,0,0,0.75);
        }
        h1
        {
            font-family: 'Dancing Script', cursive;
            
            text-align: center;
        }
    }
    .tileInput
    {
        @include tileImg();
        input
        {
            border: 2px solid $colorGreen;
            padding: 20px;
            margin: 5px;
            width: 100%;
            clear: both;
            font-family: 'Comfortaa', cursive; 
        }
        #submit
        {
            border: 0px;
            background-color: $colorGreen;
            color: $colorWhite;
            padding: 10px;
            margin: 5px;
            font-family: 'Comfortaa', cursive; 
        }
        .error
        {
            color: red;
            padding: 10px 0px 10px 0px;
            margin: 0px 10px 0px 10px;
            width: 100%;
            clear: both;
            font-weight: bold;
        }
        .success
        {
            color: $colorGreen;
            padding: 10px 0px 10px 0px;
            margin: 0px 10px 0px 10px;
            width: 100%;
            clear: both;
            font-weight: bold;
        }
    }
}
.footerHelloPage
{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: $colorDarkGray;
    color: $colorGray;
    .containerFooterHelloPage
    {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        a
        {
            color: $colorGray;
            text-decoration: none;
            margin-left: 10px;
            border-left: 1px solid $colorGray;
            text-align: justify;
        }
        hr
        {
            border: 0px;
            height: 1px;
            background-color: $colorGray;
        }
    }
}
.postContainer
{
    margin: 0 auto;
    width: 80%;
    .post
    {
        width: 50%;
        height: 680px;
        margin: 0 auto;
        margin-top: 50px;
        border: 3px solid $colorGreen;
        background-color: $colorWhite;
        img
        {
            width: 100%;
            height: 500px;          
        }
        .postInfoLeft
        {
            @include postInfo();
            float: left;
        }
        .postInfoRight
        {
            @include postInfo();
            float: right;
        }
    }
    a
    {
        color: $colorDarkGray;
        font-size: 26px;
        margin-top: 20px;
        display: block;
        text-decoration: none;
        text-align: center;
        border: 3px solid $colorGreen;
        margin: 0 auto;
        padding: 10px;
        width: 10%;
    }
}
.userInfo
{
    float: right;
    margin: 0px 40px 0px 40px;
    font-size: 15px;
    display: inline;
    a
    {
        color: white;
    }
}
.afterRegisterPage
{
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
    background-color: $colorGreen;
    color: $colorWhite;
    text-align: center;
    a
    {
        color: $colorWhite;
        font-weight: bold;
    }
}
.profileContainer
{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: $colorGreen;
    margin-top: 20px;
    padding: 10px;
    .profileContainerNav{
        background-color: $colorDarkGreen;
        color: $colorWhite;
        width: 100%;
        ul
        {
            list-style-type: none;
            display: flex;
        }
        li
        {
            margin-left: 20px;
            width: 15%;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: justify;
        }
        #facebook
        {
            background-color: $facebookColor;
            font-size: 30px;
            width: 5%;
            text-align: center;
        }
        #google
        {
            background-color: $googleColor;
            font-size: 30px;
            width: 5%;
            text-align: center;
            margin-left: 0px;
        }
        #proffesion
        {
            font-size: 30px;
        }
    }
    .profileContent
    {
        width: 95%;
        height: 60%;
        padding: 10px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $colorDarkGreen;
        color: $colorWhite; 
        .profileBox
        {
            width: 47%;
            padding-bottom: 20px;
            margin: 20px;
            border: 1px solid $colorGreen;
            float: left;
            .profileBoxTitle
            {
                text-align: center;
                font-size: 24px;
                padding: 5px;
                background-color: $colorGreen;
            }
            .profileBoxText
            {
                text-align: center;
                font-size: 20px;
                padding: 5px;
                .profileBoxImgContainer
                {
                    width: 100%;
                    margin: 0 auto;
                    height: 100%;
                    .profileBoxImg
                    {
                        width: 31.6%;
                        height: 180px;
                        background-color: black;
                        margin: 5px;
                        float: left;
                    }
                }
                ul
                {
                    float: left;
                    list-style-type: circle;
                }
            }
        }
    }
}
.firstLoginContainer
{
    width: 60%;
    margin: 0 auto;
    .firstLoginHeader
    {
        text-align: center;
        line-height: 40px;
        h1
        {
            font-family: 'Dancing Script', cursive;
        }
    }
    .firstLoginInput
    {
        text-align: center;
        input
        {
            border: 2px solid $colorGreen;
            padding: 20px;
            margin: 5px;
            width: 40%;
            font-family: 'Comfortaa', cursive; 
            margin-top: 50px;
        }
        .firstLoginInfo
        {
            font-size: 24px;
            text-align: center;
        }
        i
        {
            font-size: 15px;
        }
        .error
        {
            color: red;
            width: 100%;
            clear: both;
            font-weight: bold; 
            font-size: 22px;
            margin-top: 5px;
        }
        .radio
        {
            width: 1%; 
        }
    }
}
