$colorGreen : #17b55a;
$colorDarkGreen : #0f7439;
$colorWhite : #d0f0de;
$colorDarkGray : #29302c;
$colorGray: #718283;
$facebookColor: #4267B2;
$googleColor: #DB4437;

$navHelloPageBgColor : $colorGreen;
$navHelloPageFontColor: $colorWhite;