body {
  margin: 0px;
  padding: 0px;
  font-family: 'Comfortaa', cursive;
  background-image: url("img/bgImg.png");
  background-attachment: fixed;
  background-position-x: 0px;
  background-position-y: 0px;
  color: #29302c;
  position: relative; }

.navHelloPage {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #17b55a;
  color: #d0f0de;
  text-align: center; }

.containerHelloPage {
  width: 50%;
  height: 90vh;
  float: left; }
  .containerHelloPage .tileImage {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
    float: left; }
    .containerHelloPage .tileImage img {
      width: 350px;
      height: 400px;
      margin: 40px;
      box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.75); }
  .containerHelloPage .tileImageTwo {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%;
    float: right; }
    .containerHelloPage .tileImageTwo img {
      width: 500px;
      height: 300px;
      margin: 10px;
      margin-top: 30%;
      box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.75); }
    .containerHelloPage .tileImageTwo h1 {
      font-family: 'Dancing Script', cursive;
      text-align: center; }
  .containerHelloPage .tileInput {
    width: 50%;
    margin: 0 auto;
    margin-top: 15%; }
    .containerHelloPage .tileInput input {
      border: 2px solid #17b55a;
      padding: 20px;
      margin: 5px;
      width: 100%;
      clear: both;
      font-family: 'Comfortaa', cursive; }
    .containerHelloPage .tileInput #submit {
      border: 0px;
      background-color: #17b55a;
      color: #d0f0de;
      padding: 10px;
      margin: 5px;
      font-family: 'Comfortaa', cursive; }
    .containerHelloPage .tileInput .error {
      color: red;
      padding: 10px 0px 10px 0px;
      margin: 0px 10px 0px 10px;
      width: 100%;
      clear: both;
      font-weight: bold; }
    .containerHelloPage .tileInput .success {
      color: #17b55a;
      padding: 10px 0px 10px 0px;
      margin: 0px 10px 0px 10px;
      width: 100%;
      clear: both;
      font-weight: bold; }

.footerHelloPage {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #29302c;
  color: #718283; }
  .footerHelloPage .containerFooterHelloPage {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .footerHelloPage .containerFooterHelloPage a {
      color: #718283;
      text-decoration: none;
      margin-left: 10px;
      border-left: 1px solid #718283;
      text-align: justify; }
    .footerHelloPage .containerFooterHelloPage hr {
      border: 0px;
      height: 1px;
      background-color: #718283; }

.postContainer {
  margin: 0 auto;
  width: 80%; }
  .postContainer .post {
    width: 50%;
    height: 680px;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px solid #17b55a;
    background-color: #d0f0de; }
    .postContainer .post img {
      width: 100%;
      height: 500px; }
    .postContainer .post .postInfoLeft {
      width: 40%;
      padding: 10px;
      display: block;
      font-size: 20px;
      float: left; }
    .postContainer .post .postInfoRight {
      width: 40%;
      padding: 10px;
      display: block;
      font-size: 20px;
      float: right; }
  .postContainer a {
    color: #29302c;
    font-size: 26px;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 3px solid #17b55a;
    margin: 0 auto;
    padding: 10px;
    width: 10%; }

.userInfo {
  float: right;
  margin: 0px 40px 0px 40px;
  font-size: 15px;
  display: inline; }
  .userInfo a {
    color: white; }

.afterRegisterPage {
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #17b55a;
  color: #d0f0de;
  text-align: center; }
  .afterRegisterPage a {
    color: #d0f0de;
    font-weight: bold; }

.profileContainer {
  width: 80%;
  height: 100vh;
  background-color: #17b55a;
  margin: 0 auto;
  padding: 10px; }
  .profileContainer ul {
    list-style-type: none; }

/*# sourceMappingURL=style.css.map */
